body{
    padding: 0;
    margin: 0;
    background-color: #2a1ceb;
}
body.yes .confirm {
    display: none;
}

body.yes .dialog{
    display: block;
}

.confirm{
    min-width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 3px 3px 3px #f2f2f2;
    border-radius: 5px;
}

.confirm_container{
    padding: 10px;
}

.confirm_container .title{
    color: black;
    text-align: center;
    font-size: 22px;
    font-weight: bolder;
}

.confrim_actions{
    display: flex;
    column-gap: 10px;
}

.confirm_actions button{
    width: 100%;
    cursor: pointer;
    font-size: 10px;
    border: none;
    padding: 5px;
    color: black;
    font-weight: 600;
    border-radius: 5px;
}

.confirm_actions .btn-yes{
    background-color: gray;
}

.confirm_actions .btn-no{
    position: relative;
    background-color: gray;
}

.dialog{
    display: none;
    min-width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f2f2f2;
    box-shadow: 3px 3px 3px rgb(160,69,116);
    border-radius: 5px;
    font-size: 22px;
}

.dialog_container{
    padding: 15px;
}

.dialog_container p{
    color: #000;
    text-align: center;
}